extends masebook.pug

block title
    title Masebook | Directory

mixin user(u)
    li
        a(href="/u/" + u.id)= u.name
        if u.account_type === "administrator"
            span.role [server administrator]

mixin space(s)
    li
        a(href="/s/" + s.id)= s.name
        if s.role !== 'none'
            span.role [#{s.role}]

block content
    h1 Server Directory
    button.link-style(onclick="toggle(this)", data-target="users") hide users
    button.link-style(onclick="toggle(this)", data-target="spaces") hide spaces
    section#users
        h2 Users
        if users
            ul
                for u in users
                    +user(u)
        else
            p no users...
    section#spaces
        h2 Spaces
        if spaces
            ul
                for s in spaces
                    +space(s)
        else
            p no spaces...
    script.
        function toggle(button) {
            // swap button text
            button.textContent = button.textContent.replace(/show|hide/g, (val) => { return val === 'show' ? 'hide' : 'show'; })

            // toggle target element
            const target = document.getElementById(button.dataset.target);
            target.classList.toggle('hidden');
        }

        