extends masebook.pug

block title
    title Masebook | Directory

block content
    section
        h1 Server Directory
        ul#userlist
        script.
            const userlist = document.getElementById("userlist");
            fetch("/api/users")
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    else {
                        throw new Error("Failed to fetch data.");
                    }
                })
                .then(data => {
                    data.forEach(user => {
                        const li = document.createElement("li");
                        li.textContent = user.display_name;
                        userlist.appendChild(li);
                    });
                })