doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block title
            title Masebook
        link(rel='stylesheet', href='/public/css/normalize.css')
        link(rel='stylesheet', href='/public/css/masebook.css')
        block scripts
    body
        div.grid-container
            header.grid-item#page-header
                h1
                    a(href="/") Masebook 
            aside.grid-item#sidebar
                ul
                    li
                        a(href="/spaces") Spaces
                    li
                        a(href="/directory") Users
                    li
                        a(href="/settings") Settings
                    li
                        a(href="/api/logout") Log Out
            main.grid-item#content
                block content
