extends masebook.pug

block title
    title Masebook | #{profile.shortname}

block content
    h1= profile.shortname
    
    img(src="/public/img/placeholder-guy64.png" alt="placeholder" width="64" height="64")
    if profile.settings.profile_desc
        p #{profile.settings.profile_desc} &nbsp;
    else
        p no description...