extends masebook.pug

block title
    title Masebook | #{user.display_name}'s Spaces

mixin space_list(role, spaces)
    if spaces.length > 0
        h3= role
        ul
            each s in spaces
                li
                    a(href="/spaces/" + s.id)= s.name

block content
    h1 #{user.display_name}'s Spaces
    +space_list("Owner", spaces.owner)
    +space_list("Administrator", spaces.administrator)
    +space_list("Moderator", spaces.moderator)
    +space_list("Member", spaces.member)
    +space_list("Follower", spaces.follower)