:root {
    --poke-color: yellow;
    --slap-color: red;
    --tickle-color: magenta;
}

.padbox {
    padding: 1em;
}

.spacer {
    margin-bottom: 1em;
}

body {
    background-color: white;
}

#page-header {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f3f8ff;
}

main {
    padding: 1em;
    overflow: scroll;
}

#sidebar {
    background-color: #f3f8ff;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
        "header main"
        "sidebar main";
    grid-gap: 0;
}

/* .grid-item {
    background-color: rgb(237, 237, 237);
} */

.grid-container > #header {
    grid-area: header;
}

.grid-container > #sidebar {
    grid-area: sidebar;
}

.grid-container > #content {
    grid-area: main;
}

button.link-style {
    background: none!important;
    border: none;
    padding: 0!important;
    margin-right: 0.5em;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}

.content {
    max-width: 75ch;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

textarea.post-text {
    width: 100%;
}

.post-text-padding {
    padding-top: 1em;
    padding-bottom: 1em;
}

#new_post_form {
    margin-bottom: 1em;
}

/* === POSTS === */
article.post {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 2em;
    margin-left: 1em;
    column-gap: 0.5em;
}

article.post > img {
    grid-area: 1 / 1;
}

article.post > h4 {
    grid-area: 1 / 2;
    margin: 0;
    margin-bottom: 0.5em;
}

article.post > .content {
    grid-area: 2 / 2;
    margin: 0;
}

article.post > .content > p {
    margin: 0;
}

article.post > h4 > .post-date {
    color: gray;
    font-weight: normal;
}

span.role {
    font-size: 80%;
    padding-left: 1.0em;
}

/* === POKE BUTTONS === */
button.poke {
    color: var(--poke-color);
    border-radius: 0.5em;
    background-color: rgb(180, 180, 180);
    border-style: none;
    padding: 0.1em;
    margin: 0.1em;
    min-width: 1.1em;
}

button.poke:hover {
    background-color: lightgray;
}

button.poke.slap {
    color: var(--slap-color);
}

button.poke.tickle {
    color: var(--tickle-color);
}

button.poke.hide {
    color: white;
}

a.unstyled {
    color: unset;
    text-decoration: unset;
}



p.alert {
    margin: 0;
    padding: 0.2em;
}

span.alert {
    display: inline-block;
    width: 5em;
}

p.alert.critical {
    background-color: red;
}

p.alert.warning {
    background-color: yellow;
}

p.alert.info {
    background-color: lightgreen;
}

@media only screen and (max-width: 768px) {
    body {
        overflow: scroll;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "main";
    }

    main {
        overflow: visible;
    }
}