:root {
    --poke-color: yellow;
    --slap-color: red;
    --tickle-color: magenta;
}

.padbox {
    padding: 1em;
}

.spacer {
    margin-bottom: 1em;
}

body {
    background-color: white;
}

#page-header {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f3f8ff;
}

main {
    padding: 1em;
    overflow: scroll;
}

#sidebar {
    background-color: #f3f8ff;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
        "header main"
        "sidebar main";
    grid-gap: 0;
}

.grid-container > #header {
    grid-area: header;
}

.grid-container > #sidebar {
    grid-area: sidebar;
}

.grid-container > #content {
    grid-area: main;
}

button.link-style {
    background: none!important;
    border: none;
    padding: 0!important;
    margin-right: 0.5em;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}

.content {
    max-width: 75ch;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

textarea.post-text {
    width: 100%;
}

/* FORM STYLING */



fieldset {
    width: fit-content;
    margin: 0;
    padding-top: 0.75rem;
}

fieldset > * {
    margin: 0;
}

fieldset label {
    white-space: nowrap;
}

#space-editor > #permissions-editor {
    display: grid;
    grid-template-columns: max-content repeat(5, min-content);
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.permissions-col-header {
    font-size: smaller;
}

#space-editor > #permissions-editor > .field-label {
    text-align: right;
    margin-left: 1rem;
    margin-right: 1rem;
}

form > * + * {
    margin-top: 1.5rem;
}

#login-form fieldset > .form-item + .form-item {
    margin-top: 1rem;
}

input[type=checkbox]:first-child + * {
    margin-left: 0.5rem;
}

span.field-hint {
    display: block;
    font-size: smaller;
}

span.field-label.block {
    display:block;
}

#permissions-table {
    font-size: smaller;
    text-align: left;
    border-collapse: collapse;
}

#permissions-table thead {
    border-bottom: 1px solid black;
}

#permissions-table > tbody tr:nth-child(even) {
    background-color: aliceblue;
}

#permissions-table td + *, th + * {
    padding-left: 1rem;
}

#permissions-table td:not(:first-child) {
    text-align: center;
    font-size: smaller;
}

#status {
    margin-left: 0.5rem;
}

#status.success {
    color: green;
}

#status.failure {
    color: red;
}

/* === POSTS === */
article.post {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 2em;
    margin-left: 1em;
    column-gap: 0.5em;
}

article.post > img {
    grid-area: 1 / 1;
}

article.post > h4 {
    grid-area: 1 / 2;
    margin: 0;
    margin-bottom: 0.5em;
}

article.post > .content {
    grid-area: 2 / 2;
    margin: 0;
}

article.post > .content > p {
    margin: 0;
}

article.post > h4 > .post-date {
    color: gray;
    font-weight: normal;
}

span.role {
    font-size: 80%;
    padding-left: 1.0em;
}

/* === POKE BUTTONS === */
button.poke {
    color: var(--poke-color);
    border-radius: 0.5em;
    background-color: rgb(180, 180, 180);
    border-style: none;
    padding: 0.1em;
    margin: 0.1em;
    min-width: 1.1em;
}

button.poke:hover {
    background-color: lightgray;
}

button.poke.slap {
    color: var(--slap-color);
}

button.poke.tickle {
    color: var(--tickle-color);
}

button.poke.hide {
    color: white;
}

a.unstyled {
    color: unset;
    text-decoration: unset;
}



p.alert {
    margin: 0;
    padding: 0.2em;
}

span.alert {
    display: inline-block;
    width: 5em;
}

p.alert.critical {
    background-color: red;
}

p.alert.warning {
    background-color: yellow;
}

p.alert.info {
    background-color: lightgreen;
}

@media only screen and (max-width: 768px) {
    body {
        overflow: scroll;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "main";
    }

    main {
        overflow: visible;
    }
}